*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    width: 75%;
    margin: 40px auto;
}

/* allineamento e stile titolo e paragrafo*/
h1{
    text-align: center;
    color: rgb(229, 49, 112);
    margin-bottom: 30px;
}

p{
    text-align: center;
    margin-bottom: 30px;
}


/* stile delle card*/
.card{
    width: 32%;
    color: white;
    float: left;
    background-color: rgb(14, 15, 23);
    margin: 20px 5px;
    box-shadow: 1px 1px 5px black;
}

.card:hover{
    box-shadow: 1px 1px 10px black;
}

.card::after{
    content: "";
    display: table;
    clear: both;
}


/* stile contenuto delle card*/
.info{
    padding: 15px;
}

.mail{
    color: lightskyblue;
}

.pro-pic{
    float: left;
    width: 100px;
    margin-right: 15px;
}